@import "global/styles/mixin";

.social {
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
    .search{
        background-image: linear-gradient(to right, $sectionBackgroundPrimary, transparent);
        border: 2px solid $sectionBorder;
        border-radius: 12px;
        padding: 8px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        column-gap: 16px;
        &:focus-within{
            box-shadow: 0 0 4px 2px $borderColor;
        }
        
        input{
            all: unset;
            
        }
    }
}