@import "global/styles/mixin.scss";

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 24px);
    grid-auto-rows: 24px;
    gap: 8px;
    justify-content: center;

    .days {
        display: grid;
        grid-template-columns: subgrid;
        grid-row: 1;
        grid-column: span 7;
        align-items: center;
        justify-items: center;

        :last-child{
            color: $saturday;
        }

        :first-child {
            color: $sunday;
        }
    }

    .weekRow {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 7;
        align-items: center;
        justify-items: center;
    }

    .belowCalendar {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 7;
        height: 0;
        padding: 0 16px;
        background-color: transparent;
        border: 1px solid;
    }

    .example {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 7;
        align-items: center;
        justify-items: center;
        scale: 0.8;
        .dayBlock{
            height: 20px;
            width: 20px;
        }
    }
}

.dayBlock {
    height: 24px;
    width: 24px;
    border-radius: 4px;
    position: relative;
    &:hover{
        .tooltip{
            visibility: visible;
            animation: fadeIn 0.15s ease forwards;
        }
    }

    &[data-color="-1"] {
        background-color: $glass0;
        
    }

    &[data-color="0"] {
        background-color: $glass1;
    }

    &[data-color="1"] {
        background-color: $glass2;
        .tooltip>.time{
            color: $glass2;
        }
    }

    &[data-color="2"] {
        background-color: $glass3;
        .tooltip>.time{
            color: $glass3;
        }
    }

    &[data-color="3"] {
        background-color: $glass4;
        .tooltip>.time{
            color: $glass4;
        }
    }
    
    .tooltip{
        display: flex;
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 28px;
        height: 40px;
        min-width: 40px;
        padding: 4px;
        border-radius: 4px;
        z-index: 10;
        background-color: $overlayColor;
        box-shadow: 0 0 4px 2px $glass4;
        .date{
            font-size: 0.8em;
        }
    }
}