@import "global/styles/mixin.scss";

@font-face {
    font-family: "ZenKakuGothic";
    src: url("../../assets/fonts/ZENKAKUGOTHICNEW-REGULAR.TTF");
}

@font-face {
    font-family: "Kamaboko";
    src: url("../../assets/fonts/SOUKamaboko-Regular.otf");
}

body {
    margin: 0;
    font-family: "ZenKakuGothic";
}

#root {
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

a{
    color: $linkColor;
}

*{
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 4px;
    height: 2px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    width: 4px;
    height: 2px;
    background-color: $accentColor;
    border-radius: 4px 0 0 4px;
}