@import "global/styles/mixin.scss";

.daySelect {
    display: grid;
    grid-template-rows: 1px auto 1px;

    hr {
        border: none;
        height: 1px;
        width: 100%;
        margin: 0;
        background-image: linear-gradient(to right, transparent, $borderColor, transparent);
    }

    .selector {
        display: grid;
        grid-template-columns: 64px 1fr 64px auto 64px 1fr;
        column-gap: 16px;

        @media screen and (max-width:768px) {
            column-gap: 4px;
        }

        @media screen and (max-width:630px) {
            grid-template-columns: 32px 1fr 32px auto 32px 1fr;
        }



        .calendar {
            display: flex;
            flex-wrap: wrap;
            //grid-template-columns: repeat(7, minmax(64px, auto));
            align-items: center;
            justify-content: center;
            column-gap: 16px;

            @media screen and (max-width:768px) {
                column-gap: 4px;
            }

            .dayButton {
                display: flex;
                flex-direction: column;
                background-color: $inputBackgroundSecondary;

                @media screen and (max-width:480px) {
                    padding: 4px;
                }

                &[data-active="true"] {
                    box-shadow: 0 0 4px 2px $accentColor;
                }


                .date {
                    font-size: 1.2em;

                    @media screen and (max-width:768px) {
                        font-size: 1em;
                    }

                    @media screen and (max-width:630px) {
                        font-size: 0.8em;
                    }
                }

                .day {
                    font-size: 0.8em;
                    filter: brightness(0.9);
                }

                &:first-child {
                    color: $sunday;
                }

                &:last-child {
                    color: $saturday;
                }
            }
        }

        .calendarIconWrapper {
            min-width: 64px;
            height: 100%;
            position: relative;
        }

        .calendarIcon {
            min-width: 64px;
            height: 100%;
            position: absolute;
        }

        .calendarIcon,
        .arrow {
            transition: 0.2s;

            svg {
                transition: 0.2s;
            }

            &:hover {
                background-color: $inputBackgroundPrimary;

                svg {
                    scale: 1.1;
                }
            }

            &:active,
            &:focus-visible {
                filter: brightness(0.8);

                svg {
                    scale: 0.8;
                }
            }
        }
    }
}