@import "global/styles/mixin.scss";

.login {}

.heading {
    font-family: "Kamaboko";
    font-size: 2em;
    height: 64px;
    display: grid;
    grid-template-columns: auto;
}

.wrapper{
    display: grid;
        justify-content: center;
}

.content {
    width: 240px;
    display: grid;
    justify-content: center;

    hr {
        width: 100%;
        border-color: $grayText;
    }
}
