@import "global/styles/mixin.scss";

.main {
    padding: 8px;

    .inputArea {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width:480px) {
            flex-direction: column;
        }
    }

    .buttonArea{
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: 16px;
        padding: 16px;
        align-items: center;

        .clear{
            color: $warn;
        }
    }
}