.countUp {

    .clock{
        font-size: 64px;

        .number{
            width: 1em;
            text-align: center;
            display: inline-block;
        }
        .colon{
            width: 0.5em;
            text-align: center;
            display: inline-block;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        justify-content: center;
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                height: 36px;
                width: 36px;
            }
        }
    }
}