@import "global/styles/mixin.scss";

.inputArea {
    background-image: linear-gradient(to bottom, $sectionBackgroundPrimary, $sectionBackgroundSecondary);
    border: 2px solid $sectionBorder;
    border-radius: 12px;
    padding: 4px 8px;
    flex-basis: 240px;
    max-width: 480px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    row-gap: 8px;


    .timeInput {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 16px;

        .input {
            min-width: 72px
        }
    }

    .reflection {
        appearance: none;
        background-color: $inputBackgroundPrimary;

        resize: none;
        border-radius: 8px;
        padding: 4px;
        transition: 0.2s;

        &:focus {
            outline: none;
            box-shadow: 0 0 4px 2px $accentColor;
        }
    }

    .placeholder {
        position: relative;
        top: calc(-2em - 8px);
        font-size: 0.8em;
        color: $grayText;
        pointer-events: none;
        padding: 0 4px;
    }

    .reflectionCounter {
        text-align: right;
        font-size: 0.8em;
    }

}