@import "global/styles/mixin.scss";

.notification {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;

    &.enter {
        animation: fadeInSlideDown 0.2s ease forwards;
    }
    &.exit{
        animation: fadeOutSlideDown 0.2s ease forwards;
    }

    .content {
        position: absolute;
        top: 64px;
        right: 32px;
        width: 360px;
        padding: 4px;
        background-color: $pageBackground;
        border: 2px solid $borderColor;
        border-radius: 8px;

        .title {
            height: 36px;
            display: grid;
            grid-template-columns: 1fr 24px;
            align-items: center;

            h3 {
                margin: 0;
            }

            button {
                padding: 4px;
                border-radius: 4px;
                transition: 0.2s;

                &:hover {
                    box-shadow: 0 0 4px 2px $warn;
                }
            }
        }

        .tab {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            border-radius: 8px;
            column-gap: 8px;
            overflow: hidden;
            background-color: $inputBackgroundPrimary;
            padding: 0 8px;

            button{
                &[data-active="true"]{
                    box-shadow: 0 0 4px 2px $accentColor;
                }
            }
        }
    }
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translate(0, -16px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutSlideDown {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        opacity: 0;
        transform: translate(0, 16px);
    }
}