@import "global/styles/mixin.scss";

.countdown{
    
    .input{
        font-size: 64px;
        .normalText{
            font-size: 1rem;
            text-align: center;
        }
        input[type="number"]{
            all:unset;
            width: 1em;
            text-align: center;
            background-color: $inputBackgroundPrimary;
            border-radius: 8px;
            border: 2px solid $sectionBorder;
            &:focus-within,&:focus-visible{
                box-shadow: 0 0 8px 4px $borderColor;
                outline: none;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
            }
        }
    }

    .clock{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        font-size: 64px;
        padding: 16px;
        
        .number{
            width: 1em;
            text-align: center;
            display: inline-block;
        }
        .colon{
            width: 0.5em;
            text-align: center;
            display: inline-block;
        }
        
        
        .circle{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            padding: 8px;
            svg{
                height: 100%;
                width: 100%;
                rotate: -90deg;
                
                circle{

                    stroke-linecap: round;
                    stroke-width: 0.5px;
                    fill: transparent;
                    stroke: $textColor;
                    stroke-dashoffset: 0;
                    stroke-dasharray: calc(32 * 3.14);
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        justify-content: center;
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                height: 36px;
                width: 36px;
            }
        }
    }
}