@import "global/styles/mixin.scss";

.userDetailsForm {
    display: grid;
    justify-content: center;

    .back {
        all: unset;
    }

    .notice {
        font-size: 0.8em;
        width: 240px;
        color: $grayText;
    }

    .inputSection {
        margin: 8px 0;
        display: flex;
        flex-direction: column;
    }

    input[type=text],
    input[type=password],
    .textInput {
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 6px;
        background-color: $inputBackgroundLightPrimary;
        color: $textColorSecondary;
        @include font-text;

        &:focus {
            box-shadow: 0 0 4px 2px $accentColor;
        }
    }

    input[type=file] {
        overflow: hidden;
        max-width: 240px;
    }

    .selector {
        width: 240px;
    }

    .error {
        word-wrap: break-word;
        word-break: break-all;
        color: $warn;
        max-width: 100%;
        width: 240px;
        //background-color: $warn-bg;
    }

    .loginButton {
        color: $textColorSecondary;
        text-align: center;
        border-radius: 8px;
        padding: 8px;
        margin: 8px 0;
        background-color: $inputBackgroundLightPrimary;
        transition: 0.2s;

        svg {
            animation: rotate 1s ease infinite;
            //transform: rotate(180deg);
        }

        &:focus,
        &:hover {
            box-shadow: 0 0 4px 2px $accentColor;
        }

        &:active {
            filter: brightness(0.8);
            scale: 0.98;
        }

        &:disabled {
            filter: brightness(0.5);
            pointer-events: none;
        }
    }
}